.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: var(--size-2xl);
    padding-bottom: var(--size-2xl);
    background-color: var(--clr-dark);
    margin-top: 5rem;
    gap: var(--size-xs);
    box-shadow: 0 0px 0px rgb(139, 92, 246, 0.1), 0 -10px 22px rgb(139, 92, 246, 0.3), 0 0 18px 3px var(--clr-violet500);
}

.footer__menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: var(--size-2xl);
    align-items: start;
    justify-content: center;
}

.footer__link {
    color: var(--clr-slate200);
    text-decoration: none;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-size: var(--size-xs);
    transition: color 0.3s;
    &:hover {
        color: var(--clr-blue400);
    }
}

.footer__reachme-container {
    color: var(--clr-slate200);
    display: flex;
    gap: var(--size-3xs);
    justify-content: center;
    align-items: center;
    padding-top: var(--size-3xs);
    padding-right: var(--size-2xl);
}

.footer__reachme-icon {
    display: flex;
    &::before {
        gap: 1px;
    }
}

.footer__reachme-line {
    border-left: 1px solid var(--clr-violet500);
    padding-top: var(--size-lg);
}

.footer__reachme__link {
    color: var(--clr-slate200);
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
        color: var(--clr-blue400);
    }
}
/* xs */
@media (min-width: 475px) {
    .footer {
        justify-content: flex-end;
    }
    .footer__menu {
        flex-direction: row;
        gap: var(--size-4xl)
    }

    .footer__line {
        border-left: 1px solid var(--clr-violet500);
        padding-top: var(--size-xl);
    }
}
/* sm */
@media (min-width: 576px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 992px) {
}

/* xl */
@media (min-width: 1200px) {
}

/* xxl */
@media (min-width: 1400px) {
}