.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: var(--clr-dark);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav__menu {
    list-style: none;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-nav__link {
    font-size: var(--size-sm);
    text-decoration: none;
    color: var(--clr-slate200);
    letter-spacing: -0.05em;
    font-weight: 600;
    transition: color 0.3s;

    &:hover {
        color: var(--clr-blue400);
    }
}

.mobile-nav__link-line {
    border: 1px solid var(--clr-slate800);
    padding-right: var(--size-xl);
}

.mobile-nav__sun {
    /* since the svg is inside button, its default display is inline block hence the icon is not centered, so use block display */
    display: block;
    width: var(--size-xl);
    height: var(--size-xl);
}

.mobile-nav__moon {
    /* since the svg is inside button, its default display is inline block hence the icon is not centered, so use block display */
    display: none;
    width: var(--size-xl);
    height: var(--size-xl);
}

.mobile-nav__resume {
    display: flex;
    flex-direction: row;
    gap: var(--size-3xs);
    font-size: var(--size-xs);
    letter-spacing: -0.01em;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 6px;
    background-color: var(--clr-violet500);
    color: var(--clr-light200);
    box-shadow: 0 10px 20px rgba(139, 92, 246, 0.5), 0 6px 6px rgba(139, 92, 246, 0.5), 0 0 100px -10px var(--clr-violet500);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 14px 28px rgba(139, 92, 246, 0.25), 0 10px 10px rgba(139, 92, 246, 0.22), 0 0 120px -10px var(--clr-violet500);
    }
}



/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 576px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 992px) {
}

/* xl */
@media (min-width: 1200px) {
}

/* xxl */
@media (min-width: 1400px) {
}