.project {
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
}

.project__heading {
    text-decoration-color: var(--clr-slate400);
    color: var(--clr-slate300);
    font-size: var(--size-sm);
    line-height: 1.9;
    margin-left: var(--size-2xs);
}

.project__overview-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.project__overview {}

.project__title {
    color: var(--clr-slate300);
    font-size: var(--size-base);
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

.project__desc {
    max-width: 60ch;
    color: var(--clr-slate400);
    font-size: var(--size-sm);
    margin: var(--size-xs) auto;
}

.project__technologies-container {
    position: relative;

    &::after {
        content: '';
        background-color: rgba(139, 92, 246, 0.4);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        transition: background-color 0.3s;
    }

    &:hover::after {
        background-color: rgba(139, 92, 246, 0.3);
    }

    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}

.blur__loading {
    background-position: center;
    background-size: cover;
}

.blur__loading.img__loaded > img {
    display: block;
}

.blur__loading > img {
    display: none;
    transition: display 450ms ease-in-out;
}

.project__tectstack {
    object-fit: cover;
    object-position: center;
}

/* xs */
@media (min-width: 475px) {
    .project__heading {
        text-align: center;
    }

    .project__title {
        text-align: center;
    }

    .project__desc {
        text-align: center;
    }
}

/* sm */
@media (min-width: 576px) {
    .project__title {
        font-size: var(--size-lg);
        padding-top: 2rem;
    }

    .project__heading {
        font-size: var(--size-lg);
    }

    .project__overview-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                'overview__1 techstack__1'
                'techstack__2 overview__2'
                'overview__3 techstack__3'
                'techstack__4 overview__4'
                'overview__5 techstack__5'
                'techstack__6 overview__6'
                'overview__7 techstack__7'
                'techstack__8 overview__8'
                'overview__9 techstack__9'
                'techstack__10 overview__10'
                'overview__11 techstack__11'
    ;
        grid-gap: 0;
    }

    .overview__1 {
        grid-area: overview__1;
    }
    .overview__2 {
        grid-area: overview__2;
    }
    .overview__3 {
        grid-area: overview__3;
    }
    .overview__4 {
        grid-area: overview__4;
    }
    .overview__5 {
        grid-area: overview__5;
    }
    .overview__6 {
        grid-area: overview__6;
    }
    .overview__7 {
        grid-area: overview__7;
    }
    .overview__8 {
        grid-area: overview__8;
    }
    .overview__9 {
        grid-area: overview__9;
    }
    .overview__10 {
        grid-area: overview__10;
    }
    .overview__11 {
        grid-area: overview__11;
    }
    .project__technologies-container:not(:last-child) {
        margin-bottom: 0;
    }

    .techstack__1 {
        grid-area: techstack__1;
    }
    .techstack__2 {
        grid-area: techstack__2;
    }
    .techstack__3 {
        grid-area: techstack__3;
    }
    .techstack__4 {
        grid-area: techstack__4;
    }
    .techstack__5 {
        grid-area: techstack__5;
    }
    .techstack__6 {
        grid-area: techstack__6;
    }
    .techstack__7 {
        grid-area: techstack__7;
    }
    .techstack__8 {
        grid-area: techstack__8;
    }
    .techstack__9 {
        grid-area: techstack__9;
    }
    .techstack__10 {
        grid-area: techstack__10;
    }
    .techstack__11 {
        grid-area: techstack__11;
    }
}

/* md */
@media (min-width: 768px) {

    .project__desc {
        font-size: var(--size-lg);
    }
}

/* lg */
@media (min-width: 992px) {
    .project__overview-container {
        width: 85%;
        margin: 0 auto;
    }
}

/* xl */
@media (min-width: 1200px) {
    .project__overview-container {
        width: 80%;
    }
}

/* xxl */
@media (min-width: 1400px) {
    .project__overview-container {
        width: 75%;
    }
}