.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    padding: 0.5em 1em;
    border-radius: 6px;
}

.btn-primary {
    background-color: var(--clr-violet500);
    color: var(--clr-light200);
    box-shadow: 0 10px 20px rgba(139, 92, 246, 0.5), 0 6px 6px rgba(139, 92, 246, 0.5), 0 0 100px -10px var(--clr-violet500);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 14px 28px rgba(139, 92, 246, 0.25), 0 10px 10px rgba(139, 92, 246, 0.22), 0 0 120px -10px var(--clr-violet500);
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 4rem;
}

.horizontal__line {
    border-color:  var(--clr-slate800);
}

.light__mode {
    --clr-light: #0d0d0d;
    --clr-dark: #f8fafc;
    --clr-dark40: #1e293b;
    --clr-slate300: #1e293b;
    --clr-slate200: #1e293b;
    --clr-slate400: #1e293b;
    --clr-slate500: #1e293b;
    --clr-slate600: #1e293b;
    --clr-slate800: #1e293b;
    --clr-light200: #e2e8f0;
}

/* xs */
@media (min-width: 475px) {
    .container {
        /* when the view port touched 475px set the container width to 475px max */
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 576px) {
    .container {
        /* when the view port touched 576px set the container width to 576px max */
        max-width: 576px;
    }
    .section {
        margin-top: 5rem;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

/* xl */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* xxl */
@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
    .section {
        margin-top: 6rem;
    }
}
/*

!* xs *!
@media (min-width: 475px) {
}

!* sm *!
@media (min-width: 576px) {
}

!* md *!
@media (min-width: 768px) {
}

!* lg *!
@media (min-width: 992px) {
}

!* xl *!
@media (min-width: 1200px) {
}

!* xxl *!
@media (min-width: 1400px) {
}*/
